In [62]:
import pandas as pd
import numpy as np
import math
import decimal

In [69]:
df = pd.read_csv('ETc.csv')
df.head()

        timestamp  Eto
0  April 14, 2021  7.4
1  April 15, 2021  6.5
2  April 16, 2021  6.7
3  April 17, 2021  6.9
4  April 18, 2021  5.9

In [86]:
#Kc for alfalfa
Initialـseason=0.7 
midـseason=1.3
endـseason=1.0

In [71]:
#Dividing the data into two parts. The first section is the first three months,
#which are considered the middle of the season
df2=df.iloc[0:93,0:2] 
df2.head()

        timestamp  Eto
0  April 14, 2021  7.4
1  April 15, 2021  6.5
2  April 16, 2021  6.7
3  April 17, 2021  6.9
4  April 18, 2021  5.9

In [88]:
m=pd.DataFrame({"Amount of irrigation required": df2["Eto"].values,
                
                
                        },index=df2.timestamp)

In [89]:
print("Water requirement of alfalfa crop in the middle of the season")
midseason=(m*midـseason) # m is Eto, midـseason is kc in mid season
midseason.head()

Water requirement of alfalfa crop in the middle of the season

                Amount of irrigation required
timestamp
April 14, 2021                           9.62
April 15, 2021                           8.45
April 16, 2021                           8.71
April 17, 2021                           8.97
April 18, 2021                           7.67

In [96]:
# Dividing the data into two parts. The second section is the last three months, 
# which are considered the end of the season
df3=df.iloc[94:170,0:2] 
df3.head()

        timestamp  Eto
94  July 17, 2021  6.4
95  July 18, 2021  7.5
96  July 19, 2021  7.1
97  July 20, 2021  8.4
98  July 21, 2021  7.6

In [97]:
E=pd.DataFrame({"Amount of irrigation required:": df3["Eto"].values,
                
                
                        },index=df3.timestamp)

In [101]:
print("The water requirement of the alfalfa crop at the end of the season:")
endseason=(E*endـseason) # E is Eto, endـseason is kc in end season
endseason.head()

The water requirement of the alfalfa crop at the end of the season:

               Amount of irrigation required:
timestamp
July 17, 2021                             6.4
July 18, 2021                             7.5
July 19, 2021                             7.1
July 20, 2021                             8.4
July 21, 2021                             7.6